@font-face {
    font-family: "Goudy Bookletter";
    src: url(../resources/fonts/Goudy_Bookletter_1911/GoudyBookletter1911-Regular.ttf);
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 2s ease-in-out;
  z-index: -1000;
}

.btn {
    border: solid, 5px;
    border-radius: 5px;
    height: 155px;
    width: auto;
    min-width: 200px;
    max-width: 400px;
    background-color: #98632F;
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding: 5px;
    font-family: "Goudy Bookletter";
    font-weight: 600;
    margin-top: 40px;
}

@keyframes borderColorChange {
  0% {
    border-color: #000;
}
50% {
    border-color: #ffffff;
}
100% {
    border-color: #000;
}
}

.btn:hover {
  animation: borderColorChange 2s infinite;
}

.cartitas {
    max-width: 250px;
    height: auto;
    transition: transform 0.5s ease;
}

.cartitas:hover {
  transform: scale(1.1);
}

* {
    box-sizing: border-box;
  }
  
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .loader {
    -webkit-animation: rotate 4s infinite linear;
    animation: rotate 4s infinite linear;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    height: 24px;
    width: 24px;
    
    div {
      background-color: #eee;
      border: 1px solid black;
      border-radius: 100%;
      height: 20px;
      left: 50%;
      position: absolute;
      margin-left: -10px;
      margin-top: -10px;
      top: 50%;
      width: 20px;
      
      &:nth-child(2) {
        background-color: #3498db;
      }
      &:nth-child(3) {
        background-color: #000000;
      }
      &:nth-child(4) {
        background-color: #e74c3c;
      }
      &:nth-child(5) {
        background-color: #2ecc71;
      }
    }
  }
  
  .loader--fan-out div {
    &:nth-of-type(1) {
      -webkit-animation: fan-out1 4s 0.1s infinite;
      animation: fan-out1 4s 0.1s infinite;
    }
    &:nth-of-type(2) {
      -webkit-animation: fan-out2 4s 0.2s infinite;
      animation: fan-out2 4s 0.2s infinite;
    }
    &:nth-of-type(3) {
      -webkit-animation: fan-out3 4s 0.3s infinite;
      animation: fan-out3 4s 0.3s infinite;
    }
    &:nth-of-type(4) {
      -webkit-animation: fan-out4 4s 0.4s infinite;
      animation: fan-out4 4s 0.4s infinite;
    }
    &:nth-of-type(5) {
      -webkit-animation: fan-out5 4s 0.5s infinite;
      animation: fan-out5 4s 0.5s infinite;
    }
  }
  
  @-webkit-keyframes rotate {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  
  @keyframes rotate {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes fan-out1 {
    0%, 10% {
      -webkit-transform: rotate(0deg) translateY(0) scale(0);
      transform: rotate(0deg) translateY(0) scale(0);
    }
  
    20%, 80% {
      -webkit-transform: rotate(72deg) translateY(150%) scale(1);
      transform: rotate(72deg) translateY(150%) scale(1);
    }
  
    90%, 100% {
      -webkit-transform: rotate(360deg) translateY(0) scale(0);
      transform: rotate(360deg) translateY(0) scale(0);
    }
  }
  
  
  @keyframes fan-out1 {
    0%, 10% {
      -webkit-transform: rotate(0deg) translateY(0) scale(0);
      transform: rotate(0deg) translateY(0) scale(0);
    }
  
    20%, 80% {
      -webkit-transform: rotate(72deg) translateY(150%) scale(1);
      transform: rotate(72deg) translateY(150%) scale(1);
    }
  
    90%, 100% {
      -webkit-transform: rotate(360deg) translateY(0) scale(0);
      transform: rotate(360deg) translateY(0) scale(0);
    }
  }
  
  
  @-webkit-keyframes fan-out2 {
    0%, 10% {
      -webkit-transform: rotate(0deg) translateY(0) scale(0);
      transform: rotate(0deg) translateY(0) scale(0);
    }
  
    20%, 80% {
      -webkit-transform: rotate(144deg) translateY(150%) scale(1);
      transform: rotate(144deg) translateY(150%) scale(1);
    }
  
    90%, 100% {
      -webkit-transform: rotate(360deg) translateY(0) scale(0);
      transform: rotate(360deg) translateY(0) scale(0);
    }
  }
  
  
  @keyframes fan-out2 {
    0%, 10% {
      -webkit-transform: rotate(0deg) translateY(0) scale(0);
      transform: rotate(0deg) translateY(0) scale(0);
    }
  
    20%, 80% {
      -webkit-transform: rotate(144deg) translateY(150%) scale(1);
      transform: rotate(144deg) translateY(150%) scale(1);
    }
  
    90%, 100% {
      -webkit-transform: rotate(360deg) translateY(0) scale(0);
      transform: rotate(360deg) translateY(0) scale(0);
    }
  }
  
  
  @-webkit-keyframes fan-out3 {
    0%, 10% {
      -webkit-transform: rotate(0deg) translateY(0) scale(0);
      transform: rotate(0deg) translateY(0) scale(0);
    }
  
    20%, 80% {
      -webkit-transform: rotate(216deg) translateY(150%) scale(1);
      transform: rotate(216deg) translateY(150%) scale(1);
    }
  
    90%, 100% {
      -webkit-transform: rotate(360deg) translateY(0) scale(0);
      transform: rotate(360deg) translateY(0) scale(0);
    }
  }
  
  
  @keyframes fan-out3 {
    0%, 10% {
      -webkit-transform: rotate(0deg) translateY(0) scale(0);
      transform: rotate(0deg) translateY(0) scale(0);
    }
  
    20%, 80% {
      -webkit-transform: rotate(216deg) translateY(150%) scale(1);
      transform: rotate(216deg) translateY(150%) scale(1);
    }
  
    90%, 100% {
      -webkit-transform: rotate(360deg) translateY(0) scale(0);
      transform: rotate(360deg) translateY(0) scale(0);
    }
  }
  
  
  @-webkit-keyframes fan-out4 {
    0%, 10% {
      -webkit-transform: rotate(0deg) translateY(0) scale(0);
      transform: rotate(0deg) translateY(0) scale(0);
    }
  
    20%, 80% {
      -webkit-transform: rotate(288deg) translateY(150%) scale(1);
      transform: rotate(288deg) translateY(150%) scale(1);
    }
  
    90%, 100% {
      -webkit-transform: rotate(360deg) translateY(0) scale(0);
      transform: rotate(360deg) translateY(0) scale(0);
    }
  }
  
  
  @keyframes fan-out4 {
    0%, 10% {
      -webkit-transform: rotate(0deg) translateY(0) scale(0);
      transform: rotate(0deg) translateY(0) scale(0);
    }
  
    20%, 80% {
      -webkit-transform: rotate(288deg) translateY(150%) scale(1);
      transform: rotate(288deg) translateY(150%) scale(1);
    }
  
    90%, 100% {
      -webkit-transform: rotate(360deg) translateY(0) scale(0);
      transform: rotate(360deg) translateY(0) scale(0);
    }
  }
  
  
  @-webkit-keyframes fan-out5 {
    0%, 10% {
      -webkit-transform: rotate(0deg) translateY(0) scale(0);
      transform: rotate(0deg) translateY(0) scale(0);
    }
  
    20%, 80% {
      -webkit-transform: rotate(360deg) translateY(150%) scale(1);
      transform: rotate(360deg) translateY(150%) scale(1);
    }
  
    90%, 100% {
      -webkit-transform: rotate(360deg) translateY(0) scale(0);
      transform: rotate(360deg) translateY(0) scale(0);
    }
  }
  
  
  @keyframes fan-out5 {
    0%, 10% {
      -webkit-transform: rotate(0deg) translateY(0) scale(0);
      transform: rotate(0deg) translateY(0) scale(0);
    }
  
    20%, 80% {
      -webkit-transform: rotate(360deg) translateY(150%) scale(1);
      transform: rotate(360deg) translateY(150%) scale(1);
    }
  
    90%, 100% {
      -webkit-transform: rotate(360deg) translateY(0) scale(0);
      transform: rotate(360deg) translateY(0) scale(0);
    }
  }

  #loader {
    display: none;
  }